.root {
    -fx-background-color: transparent;

    -fx-accent: red;

    -fx-focus-color: red;
}

.search {
    -fx-font: 18px "Segoe UI";
}

.split-pane-divider {
    -fx-background-color: #403940;
    -fx-padding: 0 1 0 1;
}

.menu-bar {
    -fx-base: #333333;
    -fx-border-radius: 0%;
    -fx-background-radius: 0%;
    -fx-border-width: 0 0 0 0;
}

.menu {
    -fx-font: 16px "Consolas";
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.menu .label {
    -fx-text-fill: silver;
}

.menu .label:hover {
    -fx-text-fill: white;
}
.menu-item:focused .label {
    -fx-text-fill: black;
}

.controls {
    -fx-background-color: #343034;
}

.hide-controls-button {
    -fx-base: #333333;
    -fx-border-radius: 0%;
    -fx-background-radius: 0%;
    -fx-text-fill: #ff8888;
    -fx-pref-width: 25;
    -fx-max-width: 25;
    -fx-alignment: top-left;
}
/*.hide-controls-button:selected:focused:armed > .hide-controls {
    -fx-rotate: 0;
}*/

.hide-controls {
    -fx-rotate: -90;
    -fx-font: 18px "Consolas";
    -fx-text-background-color: silver;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #343034;
    -fx-opacity: 60%;
    -fx-border-radius: 0%;
    -fx-background-radius: 0%;
}

.scroll-bar .track {
    -fx-background-color: #aa9999;
}

.increment-button, .decrement-button, .increment-arrow, .decrement-arrow {
    -fx-visible: false;
    -fx-background-color: transparent;
    -fx-pref-height: 0px;
    -fx-pref-width: 0px;
}

.corner {
    -fx-background-color: transparent;
    -fx-pref-height: 0px;
    -fx-pref-width: 0px;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.viewport {
    -fx-background-color: #aa9999;
}

.control-btn {
    -fx-font: 16px "Consolas";
    -fx-text-fill: #ffaaaa;
    -fx-background-radius: 0%;
    -fx-border-radius: 0%;
    -fx-border-width: 0;
    -fx-pref-height: 30;
    -fx-max-height: 30;
    -fx-min-height: 30;
    -fx-base: #333333;
}

.control-btn-left {
    -fx-alignment: top-left;
}

.titled-pane {
    -fx-font: 16px "Consolas";
    -fx-text-fill: #ffaaaa;
    -fx-pref-width: 180;
    -fx-padding: 0 0 0 0;
    -fx-background-color: #343034;
}

.titled-pane > .title {
    -fx-alignment: center-left;
    -fx-background-radius: 0%;
    -fx-border-width: 0 0 0 0;
    -fx-base: #333333;
    -fx-border-radius: 0%;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.6em; /* 2 10 3 10 */
    -fx-pref-height: 30;
    -fx-max-height: 30;
    -fx-min-height: 30;

}

.titled-pane > .title > .arrow-button {
    -fx-padding: 0 7 0 0;
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: #ffaaaa, #ff8888;
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}

.titled-pane:focused > .title > .arrow-button .arrow {
    -fx-background-color: #ffaaaa, #ff8888;
}

.titled-pane > *.content {
    -fx-background-color: #393739;
    -fx-border-color: #343034;
    /*-fx-border-color: red;*/
}

.animation-btn {
    -fx-font: 12px "Consolas";
    -fx-alignment: center;
    -fx-text-fill: silver;
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
    -fx-border-width: 1;
    -fx-border-color: silver;
    -fx-pref-height: 35;
    -fx-min-width: 35;
    -fx-pref-width: 35;
    -fx-max-width: 35;
    -fx-base: #333333;
}
.animation-btn:focused {
    -fx-text-fill: #ffaaaa;
}

.order-btn {
    -fx-font: 14px "Consolas";
    -fx-text-fill: silver;
    -fx-background-radius: 0%;
    -fx-border-radius: 0%;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-alignment: top-left;
    -fx-min-height: 25;
    -fx-pref-height: 25;
    -fx-max-height: 25;
}
.order-btn:selected {
    -fx-background-color: #ff9999;
    -fx-text-fill: black;
}

.console {
    -fx-background-color: #403940;
    -fx-font: 18px "Consolas";
    -fx-padding: 10 10 10 10;
}

.console-label {
    -fx-fill: #ff8888;
}
.console-label:selected {
    -fx-fill: lightseagreen;
}

.console-out {
    -fx-fill: cadetblue;
}

.console-out-selected {
    -fx-fill: gold;
}

.cell {
    -fx-font: 14px "Consolas";
    -fx-background-radius: 100%;
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-border-radius: 100%;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-max-width: 90;
    -fx-max-height: 90;
    -fx-alignment: center;
    -fx-background-color: white;
}

.cell-selected {
    -fx-background-color: #9999ff;
    -fx-border-color: #551111;
}